<div class = 'container'>
  <h3><%= @user.name %>さんの投稿一覧</h3>
  
  <table class='table'>
    <thead>
      <tr>
        <th>投稿日時</th>
        <th>レシピ名</th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= link_to recipe.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_recipe_path(recipe) %></td>
          <td><%= recipe.title %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>